
/* -----------------for pie------------------- */

/*.google_map{behavior: url(js/PIE.htc); }*/

p{font-family: 'Open Sans', sans-serif; padding-bottom: 20px; font-size: 11px; color: #545454; line-height: 20px; text-transform:uppercase;font-weight: 400;}
.submenu_1 a{font-size: 12px; color: #545454;  font-family: 'Open Sans', sans-serif; display: inline-block; text-transform:uppercase; letter-spacing:0px; text-align: left; width: 160px; font-weight: 400;}